.table-content {
  padding: 25px;
  width: auto;
  background-color: var(--color-white);
  border-radius: 8px;
  overflow-x: auto;

  form {
    width: 50%;

    div.justify-around {
      margin-bottom: 25px;
    }
  }

  .actions {
    padding: 10px 0;
    gap: 40px;
  }
}
