<footer class="footer">

    <div class="align-center flex-col justify-center">
        <h4 class="text-white justify-center">
            Company Name
        </h4>
        <small class="company-description text-white justify-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est
            laborum.
        </small>
    </div>

    <div class="contact align-center flex-row justify-center gap-4 m-20">
        <a href="https://github.com/mdigliodo/mdigliodo" class="circle justify-center align-center">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://wa.me/543533431585" class="circle justify-center align-center">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://www.linkedin.com/in/mateodigliodo/" class="circle justify-center align-center">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>

    <small class="text-white align-center justify-center">Copyright &copy;{{ year }} | Designed With by <a
            href="https://www.linkedin.com/in/mateodigliodo/" target="_blank"> Mateo Digliodo</a></small>

</footer>